@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  background-image: url(./assets/bg-hcb-desktop.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-family: "Montserrat", sans-serif;
}

.section {
  display: flex;
  align-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.logo {
  width: 70%;
  height: auto;
}

.texto {
  color: #6452a3;
  font-size: 1rem;
}

span {
  font-weight: bold;
  font-size: 1.3rem;
}

.titulo {
  color: #6452a3;
  font-size: 6rem;
  font-weight: bold;
  margin-top: -20px;
}

.titulo-obrigado {
  font-size: 4rem;
  color: #6452a3;
  font-size: 4rem;
  font-weight: bold;
  margin-top: -20px;
}

.subtitulo {
  margin-top: 2rem;
  color: #6452a3;
}

.glass {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-doar {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  background-image: linear-gradient(
    to right bottom,
    #cdc9db,
    #b7abd8,
    #a38cd4,
    #916dcd,
    #804cc4
  );
  text-decoration: none;
  /* border: 1px solid #fff; */
  border-width: 2px;
  border-radius: 30px;
  background-position: center center;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1rem;
}

.btn-doar:hover {
  color: #6452a3;
  border: 3px solid #6452a3;
  background: transparent;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  align-content: center;
  padding-bottom: 2rem;
}
.texto-agradecimento {
  font-size: 2rem;
  color: #6452a3;
  font-weight: bold;
}
.container-agradecimento {
  display: flex;
  height: 60vh;
  justify-content: center;
  align-items: center;
}
/* Celular  */

@media only screen and (max-width: 766px) {
  body {
    background-image: linear-gradient(
      to right top,
      #ffdf9e,
      #f6ddab,
      #ecdbb9,
      #e3d9c6,
      #d9d7d3
    );
    background-size: auto;
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
  }

  .subtitulo {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }

  .titulo {
    font-size: 5rem;
    text-align: center;
  }
  .texto-agradecimento {
    font-size: 2rem;
    text-align: center;
    margin-top: 10px;
  }
  .texto {
    font-size: 1rem;
  }

  .container-header .header {
    order: 2;
  }

  .container-header .logo-header {
    order: 1;
  }
  .logo {
    width: 300px;
    height: auto;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  
  body{
    background-image: url(./assets/bg-hcb-tablet.png);
    background-size: cover;
    background-position: center;
  }
  .subtitulo {
    font-size: 2rem;
    font-weight: bold;
    
  }

  .titulo {
    font-size: 4rem;
    
  }

 
}